.topbar{
    .container-fluid{
        align-items: center;
        justify-content: flex-end;
    }
}
.navbar-brand {
    margin: 0 auto;
    display: table;
 }

 .sidebarBTN{
    border: none !important
 }